ANTHROPIC_API_KEY=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
DATABASE_URL=sqlite:///./psikoc.db
JWT_SECRET=ac5971b4b8fa6b75a25ceda85a058f633a8cd69f0f78771177e4915e17ff0bed
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080
